.comment-list {
    border: 2px dashed #888;
    background-color: rgba(150, 200, 256, 0.8);
    min-height: 10px;
    margin: 15px;
    display: block;
    overflow: hidden;
}

.comment {
    border: 1px solid black;
    background-color: #9999FF;
    min-height: 10px;
    display: block;
    overflow: hidden;
    margin: 15px;
}